<!DOCTYPE html>
<html>
<head>
  <title>Meal Adventure</title>
  <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  <link href="static/index.css" rel="stylesheet">
</head>
<body>
  <div id="header" class="center">
    <div class="center-child">
      <h1>Meal Adventure</h1>
      <h3>By: Aiden & Preston Hager</h3>
      <button id="login-button">Login</button>
      <button id="signup-button">Signup</button>
    </div>
  </div>

  <div id="description" class="center">
    <div class="center-child">
      <h1>Description will go Here</h1>
    </div>
  </div>
</body>
</html>
